@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

:root {
    --link-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    padding-bottom: 7.5%; /* Adjust the value according to the height of your footer */
    position: relative; /* Ensure proper positioning of pseudo-element */
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/backgrounds/nature_ai_light.png');
    background-size: cover; /* Make the image cover the entire body */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
    opacity: 0.1; /* Adjust opacity as needed */
    z-index: -1; /* Place the pseudo-element behind other content */
}
header {
    background-color: #333;
    position: relative;
    color: #fff; 
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/backgrounds/nature_ai_dark.jpeg');
    background-size: cover; /* Make the image cover the entire header */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: 90% 25%; /* Center the image */
    opacity: 0.1; /* Adjust opacity as needed */
    z-index: 1;
    pointer-events: none; /* Ensure that the pseudo-element doesn't intercept click events */
}
header img {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    border-radius: 50%; /* Make it circular */
    display: block;
    margin: 0 auto 0px; /* Center horizontally and add some bottom margin */
    border: 4px solid #fff; /* Add a white border around the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow to the transition */
}

header img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Increase the size and opacity of the shadow */
}

body :not(header) :not(footer) p, section{
    animation: fadeIn 1s ease-in;
}

/* Style for publications.html div 
#sections div {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
}*/

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    display: inline;
    margin-right: 30px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Add this line */
}

nav ul li a:hover {
    color: #ff6347; /* Change to any color you like */
}
nav a {
    color: var(--link-color);
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    width: 95%;
    height: 95%;
    /* max-width: 1100px; */
}
footer {
    background-color: #555; /* Changed to lighter color */
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}
/* Style for the image */
#presentation img {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%; /* Make it circular */
    display: block;
    margin: 0 auto 20px; /* Center horizontally and add some bottom margin */
    border: 4px solid #fff; /* Add a white border around the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.3s ease;
}

#presentation img:hover {
    transform: scale(1.1); /* Add this block */
}

/* Adjust color of social media icons */
.social-icons a {
    color: #fff; /* Change icon color to white */
    margin-right: 20px; /* Add some spacing between icons */
    font-size: 24px; /* Adjust the size as needed */
    transition: transform 0.3s ease;
}

/* Style for project boxes */
.project-box {
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
/* Style for images in project box */
.project-images-circles {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    width: 100%;   /* or any desired width */
    height: auto;  /* maintain aspect ratio */
    object-fit: cover; /* resize the image to cover the container, the image might be clipped */
}

.project-images-rectangles .custom-dimensions {
    width: 700px;
    height: 250px;
    object-fit: cover; /* This will ensure the aspect ratio of the image is maintained */
}

.project-images-circles img {
    width: 150px;
    height: 150px;
    margin: 0 10px;
    border-radius: 50%; /* Circle shape */
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Add this line */
}

.project-images-circles img:hover {
    transform: scale(1.1); /* Add this block */
}
/* Style for project section*/
.project-images-rectangles {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.project-images-rectangles img {
    width: 384px; /* Adjust width for rectangles */
    height: 216px; /* Adjust height for rectangles */
    margin: 0 10px;
    border-radius: 3px; /* Rectangle shape */
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Add this line */
}
.project-images-rectangles img:hover {
    transform: scale(1.1); /* Add this block */
}
.project-header {
    display: flex;
    justify-content: space-between;
}
.project-info {
    text-align: right;
    padding: 0; /* Set padding to 0 */
    margin: 0; /* Optionally, set margin to 0 */
}
.project-info h4,
.project-info h5,
.project-info h6 {
    margin-top: 5px 0; /* Adjust the margin as needed */
    /* margin-bottom: 5px; */ /* Adjust the margin as needed */
}

/* Sections styles*/
.section-header {
    display: flex;
    justify-content: space-between;
}

.section-info {
    text-align: right;
    padding: 0; /* Set padding to 0 */
    margin: 0; /* Optionally, set margin to 0 */
}

.section-info h4,
.section-info h5,
.section-info h6 {
    margin-top: 5px; /* Adjust the margin as needed */
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.section-info a{
    color: #00004c; /* Change color to a lighter shade */
    /* color: var(--link-color);*/
    text-decoration: none;
    transition: color 0.3s ease; /* Add this line */
}

.section-info a:hover {
    color: #ff6347; /* Change to any color you like */
}

/* Style for media links */
.link {
    text-align: center;
    margin-top: 20px;
}

.link a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease; /* Add this line */
}

.link a:hover {
    color: #ff6347; /* Change to any color you like */
}